{% extends "base.html" %}

{% block content %}

<h2>Login</h2>
<form method="post">

  <div class="label">
    Username
  </div>
  <input type="text" name="username" value="{{username}}">

  <div class="label">
    Password
  </div>
  <input type="password" name="password" value="">

  <div class="error">
    {{error}}
  </div>
<br>
  <input type="submit">
</form>
<br>
<br>
<a href="/signup">Signup</a>

<a href="/blog">Home</a>

{% endblock content %}

{# {% extends "base.html" %}

{% block content %}

<h2>Login</h2>
<form method="post">
  <table>
    <tr>
      <td class="label">
        Username
      </td>
      <td>
        <input type="text" name="username" value="{{username}}">
      </td>
    </tr>

    <tr>
      <td class="label">
        Password
      </td>
      <td>
        <input type="password" name="password" value="">
      </td>
    </tr>
  </table>

  <div class="error">
    {{error}}
  </div>

  <input type="submit">
</form>
<br><br>
<a href="/signup">Signup</a>
<br>
<a href="/blog">Home</a>

{% endblock content %} #}

